$themes: (
  light: (
    primary: #6200ee,
    primary-high: #6200ee87,
    primary-md: #6200ee60,
    primary-light: #6200ee38,
    primary-variant: #3700b3,
    secondary: #03dac6,
    secondary-variant: #018786,

    background: #fff,
    surface-light: rgb(255 255 255 / 20%),
    surface: #fff,
    error: #b00020,

    on-error: #fff,
    on-surface: #000,
    on-background: #000,
    on-secundary: #000,
    on-primary: #fff,

    black-color: #000,
    white-color: #fff,

    background-gradient: linear-gradient(135deg, #fff, #ffefba),
  ),
  dark: (
    primary: #6200ee,
    primary-high: #6200ee87,
    primary-md: #6200ee60,
    primary-light: #6200ee38,
    primary-variant: #3700b3,
    secondary: #03dac6,
    secondary-variant: #018786,

    background: #000,
    surface-light: rgb(0 0 0 / 20%),
    surface: #000,
    error: #b00020,

    on-error: #fff,
    on-surface: #fff,
    on-background: #fff,
    on-secundary: #000,
    on-primary: #fff,

    black-color: #000,
    white-color: #fff,

    background-gradient: linear-gradient(135deg, #2c5364, #203a43, #0f2027),
  ),
);
